<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>index.html입니다.</h1>

  <!--사용자에게 정보를 입력받을때 form 태그 사용. action : 어떤 url을 요청할지-->
  <form action="{% url 'todo:create' %}">
    <input type="text" name="content___" id="" maxlength="10">   <!-- 프론트 백에서 모두 글자 수 제한 해야 완벽하다.-->
    <input type="submit" value="할 일 추가">
  </form>

  <hr>

    <!--DTL for문 사용법-->
  <ul>
    {% for k in todo %}
    <li>{{k.pk}} - {{k.content}} - {{k.completed}}
      <a href="{% url 'todo:delete' k.pk %}">삭제</a>
    </li>
    {% endfor %}
  </ul>


</body>
</html>