<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>저메추</title>
</head>
<body>
  <h1>오늘 저녁 메뉴 추천</h1>
  <p>오늘의 저녁 메뉴는 : {{ name }}</p>
  {% if name == "삼겹살" %}
    <img src="{{img_sam}}">
  {% endif %}
  {% if name == "떡볶이" %}
    <img src="{{img_ddo}}">
  {% endif %}
  {% if name == "돈까스" %}
    <img src="{{img_don}}">
  {% endif %}
</body>
</html>